<tbody>

  <tr id="divName">
    <th>Name</th>
    <td><input
        type="text"
        class="postingInput"
        id="fieldName"
        name="name"></td>
  </tr>

  <tr>
    <th>Subject</th>
    <td><input
        type="text"
        class="postingInput"
        id="fieldSubject"
        name="subject">
      <input
        name="boardUri"
        id="boardIdentifier"
        type="hidden"></td>
  </tr>

  <tr>
    <th>Message</th>
    <td><textarea
        rows="5"
        cols="35"
        class="postingInput"
        id="fieldMessage"
        name="message"></textarea>

      <p class="small">
        Max message length: <span id="labelMessageLength"></span>
      </p></td>
  </tr>

  <tr id="divUpload">
    <th>Files</th>
    <td>
      <div
        class="hidden"
        id="dragAndDropDiv">
        <div
          class="dropzone"
          id="dropzone">
          Drag files to upload or
          <br>
          click here to select them
        </div>
        <div id="selectedDiv"></div>
      </div>

      <div>
        <input
          type="file"
          name="files"
          id="inputFiles"
          multiple
          class="fileBrowser">
      </div>
      <input
        type="checkbox"
        name="spoiler"
        class="postingCheckbox"
        id="checkboxSpoiler"> <label for="checkboxSpoiler"></label>

      <p class="small">
        Max file size: <span id="labelMaxFileSize"></span>
      </p>
      <p class="small">
        Max files: <span id="labelMaxFiles"></span>
      </p>

    </td>
  </tr>

  <tr id="captchaDiv">

    <th>Captcha</th>
    <td><img
      class="captchaImage"
      src="/captcha.js"
      id="captchaImage" />

      <div class="subCaptchaDiv">
        <input
          type="button"
          onClick="captchaUtils.reloadCaptcha()"
          value="Reload"
          class="hidden reloadCaptchaButton">
        <span class="captchaTimer"></span>
        <br>

        <input
          name="captcha"
          type="text"
          class="captchaField postingInput"
          id="fieldCaptcha"
          placeholder="answer">

        <a
          href="/noCookieCaptcha.js"
          class="small">no cookies?</a>

      </div></td>
  </tr>

  <tr
    class="hidden small"
    id="formMore">
    <td>More</td>
  </tr>

</tbody>
<tbody id="extra">

  <tr>
    <th>E-mail</th>
    <td><input
        type="text"
        class="postingInput"
        id="fieldEmail"
        name="email"></td>
  </tr>

  <tr>
    <th>Password</th>
    <td><input
        id="fieldPostingPassword"
        name="password"
        class="postingInput"
        type="password">
      <p class="small">(used to delete files and postings)</p></td>
  </tr>

  <tr>
    <th>Misc</th>
    <td>
      <div id="flagsDiv">
        <select
          name="flag"
          id="flagCombobox"></select>
        <img class="flagPreview">
      </div>
      <div id="noFlagDiv">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="checkboxNoFlag"
          name="noFlag">
        <label for="checkboxNoFlag"></label>
      </div>
      <div
        class="hidden"
        id="alwaysUseBypassDiv">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="alwaysUseBypassCheckBox">
        <label for="alwaysUseBypassCheckBox"></label>
      </div>
    </td>
  </tr>
</tbody>