<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
</head>

<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div id="settingsWrapper">
    <fieldset id="settingsFieldset">

      <legend>Accounts</legend>
      <form
        action="/addAccount.js"
        method="post"
        enctype="multipart/form-data">

        <h3>Add account</h3>

        <label>
          <input
            type="text"
            id="fieldLogin"
            name="login"
            class="addAccountField"
            placeholder="login">

        </label>

        <label>
          <input
            type="text"
            id="fieldEmail"
            class="addAccountField"
            name="email"
            placeholder="e-mail">
        </label>

        <label>
          <input
            type="password"
            id="fieldPassword"
            class="addAccountField"
            name="password"
            placeholder="password">
        </label>

        <button
          id="addAccountFormButton"
          type="submit">Add Account</button>

      </form>
      <hr>
      <h3>Existing Accounts</h3>
      <div
        id="divAccounts"
        class="linkList"></div>

    </fieldset>
  </div>
</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/accounts.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
