<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/posting.css">
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">
      <legend>Account management</legend>
      <h3>Account information</h3>
      Login: <span id="loginLabel"></span>
      <br>
      E-mail: <span id="emailLabel"></span>
      <br>
      Last seen: <span id="lastSeenLabel"></span>
      <br>
      Global role: <span id="globalRoleLabel"></span>
      <hr>
      <h3>Owned boards</h3>
      <div
        id="ownedBoardsDiv"
        class="linkList"></div>
      <hr>
      <h3>Volunteered boards</h3>
      <div
        id="volunteeredBoardsDiv"
        class="linkList"></div>
      <hr>
      <div id="deletionForm">
        <h3>Delete account</h3>

        <form
          action="/deleteAccount.js"
          method="post"
          enctype="multipart/form-data">

          <label>
            <input
              id="confirmationCheckbox"
              type="checkbox"
              class="deleteAccountField"
              name="confirmation">
            Yes, I wish to transfer all this user's boards to me and then delete
            the account.
          </label>

          <input
            type="hidden"
            id="userIdentifier"
            name="account">

          <button
            id="deleteAccountFormButton"
            type="submit">Delete account</button>

        </form>
      </div>
    </fieldset>

  </div>
</body>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/accountManagement.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
