<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Archive</legend>

      <form
        action="/archives.js"
        method="GET">
        Boards:
        <input
          name="boards"
          id="fieldBoards"
          type="text">

        <button type="submit">Filter</button>
      </form>


      <div id="divThreads"></div>
      <div id="divPages"></div>
    </fieldset>
  </div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/filterManagement.js"></script>

</html>
