<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div id="settingsWrapper">
    <fieldset id="settingsFieldset">
      <legend>Global Settings</legend>

      <form
        action="/saveGlobalSettings.js"
        enctype="multipart/form-data"
        method="post">

        <p class="title">HTTP settings</p>
        <label>
          Address<sup>2</sup>:
          <input
            type="text"
            class="globalSettingsField"
            name="address"
            id="fieldAddress">
        </label>
        <label>
          Trusted proxies<sup>1</sup>:
          <input
            type="text"
            class="globalSettingsField"
            name="trustedProxies"
            id="fieldTrustedProxies">
        </label>
        <label>
          SSL key passphrase:
          <input
            type="password"
            name="sslPass"
            id="fieldSslPass">
        </label>
        <label>
          CSP directives (e.g: "default-src 'self'", without the double
          quotations):
          <input
            type="text"
            class="globalSettingsField"
            name="CSP"
            id="fieldCSP">
        </label>
        <label>
          Port<sup>2</sup>:
          <input
            type="number"
            class="globalSettingsField"
            name="port"
            id="fieldPort">
        </label>
        <label>
          Tor Port<sup>2</sup>:
          <input
            type="number"
            class="globalSettingsField"
            name="torPort"
            id="fieldTorPort">
        </label>
        <label>
          Static files expiration (minutes):
          <input
            type="number"
            class="globalSettingsField"
            name="staticExpiration"
            id="fieldStaticExpiration">
        </label>
        <label>
          Limit of files to be processed in a single request:
          <input
            type="number"
            class="globalSettingsField"
            name="fileProcessingLimit"
            id="fieldFileProcessingLimit">
        </label>
        <label>
          Maximum size for requests (MB):
          <input
            type="number"
            class="globalSettingsField"
            name="maxRequestSizeMB"
            id="fieldMaxRequestSize">
        </label>
        <label>
          Cluster Port<sup>2</sup>:
          <input
            type="number"
            class="globalSettingsField"
            name="clusterPort"
            id="fieldClusterPort">
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxDisable304"
            name="disable304">
          Disable http response 304 (Only turn on if you know what you are
          doing, will consume lots more of bandwidth)
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxSendmail"
            name="useSendmail">
          Use sendmail
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxHttp2"
            name="useHttp2">
          Use HTTP2 for SSL (Might be unstable due to node's implementation)
        </label>
        <label>
          SSL<sup>2</sup> (Make sure you have the proper files)
          <select
            id="comboSsl"
            name="ssl">
          </select>
        </label>
        <hr>

        <p class="title">System settings</p>
        <label>
          Master IP:
          <input
            type="text"
            class="globalSettingsField"
            name="master"
            id="fieldMaster">
        </label>
        <label>
          Slaves IPs<sup>1</sup>:
          <input
            type="text"
            class="globalSettingsField"
            name="slaves"
            id="fieldSlaves">
        </label>
        <label>
          Front-end directory:
          <input
            type="text"
            class="globalSettingsField"
            name="fePath"
            id="fieldFePath">
        </label>
        <label>
          DNSBL Tor detection:
          <input
            type="url"
            class="globalSettingsField"
            name="torDNSBL"
            id="fieldTorDNSL">
        </label>
        <label>
          URL for the list of Tor exit node IPs:
          <input
            type="url"
            class="globalSettingsField"
            name="torSource"
            id="fieldTorSource">
        </label>
        <label>
          URL for the list of spammer IPs (Requirements for the file format are
          specified on src/be/readme):
          <input
            type="url"
            class="globalSettingsField"
            name="spamIpsSource"
            id="fieldSpamIpsSource">
        </label>
        <label>
          URL for the list of incremental spammer IPs (Requirements for the file
          format are specified on src/be/readme):
          <input
            type="url"
            class="globalSettingsField"
            name="incSpamIpsSource"
            id="fieldIncrementalSpamIpsSource">
        </label>
        <label>
          DNSBL domain:
          <input
            type="text"
            class="globalSettingsField"
            name="dnsbl"
            id="fieldDnsbl">
        </label>
        <label>
          Font used in images:
          <input
            type="text"
            class="globalSettingsField"
            name="imageFont"
            id="fieldImageFont">
        </label>
        <label>
          Path to an optional language pack:
          <input
            type="text"
            class="globalSettingsField"
            name="languagePackPath"
            id="fieldLanguagePack">
        </label>
        <label>
          Extension used for thumbnails (Will make all gif thumbs not animate):
          <input
            type="text"
            class="globalSettingsField"
            id="fieldThumbExtension"
            name="thumbExtension">
        </label>
        <label>
          Temporary directory:
          <input
            type="text"
            class="globalSettingsField"
            name="tempDirectory"
            id="fieldTempDir">
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxDiskMedia"
            name="diskMedia">
          Store media files on disk
        </label>

        <hr>
        <p class="title">Posting settings</p>
        <label>
          Character limit for messages:
          <input
            type="number"
            class="globalSettingsField"
            name="messageLength"
            id="fieldMessageLength">
        </label>
        <label>
          Maximum size for uploaded files (MB):
          <input
            type="number"
            class="globalSettingsField"
            name="maxFileSizeMB"
            id="fieldMaxFileSize">
        </label>
        <label>
          Allowed MIME types<sup>1</sup>:
          <input
            type="text"
            class="globalSettingsField"
            name="acceptedMimes"
            id="fieldAcceptedMimes">
        </label>
        <label>
          Maximum number of uploaded files on posting:
          <input
            type="number"
            class="globalSettingsField"
            name="maxFiles"
            id="fieldMaxFiles">
        </label>
        <label>
          Total limit of uploaded files on the site:
          <input
            type="number"
            class="globalSettingsField"
            name="fileLimit"
            id="fieldFileLimit">
        </label>
        <label>
          Minimum amount of seconds between posts from the same IP:
          <input
            type="number"
            class="globalSettingsField"
            name="floodTimerSec"
            id="fieldFloodInterval">
        </label>
        <label>
          Maximum amount of new captchas served to the same ip every minute:
          <input
            type="number"
            class="globalSettingsField"
            name="captchaLimit"
            id="fieldCaptchaLimit">
        </label>
        <label>
          Maximum amount of times accounts can authenticate every minute:
          <input
            type="number"
            class="globalSettingsField"
            name="authenticationLimit"
            id="fieldAuthenticationLimit">
        </label>
        <label>
          How many posts a block bypass allows:
          <input
            type="number"
            class="globalSettingsField"
            name="bypassMaxPosts"
            id="fieldBypassPosts">
        </label>
        <label>
          How many hours a block bypass lasts:
          <input
            type="number"
            class="globalSettingsField"
            name="bypassDurationHours"
            id="fieldBypassHours">
        </label>
        <label>
          Default anonymous name:
          <input
            type="text"
            class="globalSettingsField"
            name="defaultAnonymousName"
            id="fieldAnonymousName">
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxDisableFloodCheck"
            name="disableFloodCheck">
          Disable flood checks
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxGlobalCaptcha"
            name="forceCaptcha">
          Force all boards to use captcha
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxDisableCatalogPosting"
            name="disableCatalogPosting">
          Disable thread creation from catalog
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxAllowTorFiles"
            name="allowTorFiles">
          Allow Tor users to post files
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxDisableSpamCheck"
            name="disableSpamCheck">
          Disable check on spammer IPs (Use it if you can't obtain the spam IP
          list, so users are still able to post)
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxDontProcessLinks"
            name="dontProcessLinks">
          Don't turn links into hyperlinks on posts
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxVersatileBlockBypass"
            name="allowVersatileBlockBypass">
          Allow IPs caught on the spammer list or range bans to use the block
          bypass if block bypass is not disabled
        </label>
        <label>
          Captcha security level:
          <select
            id="comboCaptchaMode"
            name="captchaMode">
          </select>
        </label>
        <label>
          Tor posting permission level:
          <select
            id="comboTorPostingLevel"
            name="torPostingLevel">
          </select>
        </label>
        <label>
          Bypass mode:
          <select
            id="comboBypassMode"
            name="bypassMode">
          </select>
        </label>

        <hr>

        <p class="title">Display limits</p>
        <label>
          Amount of latest posts to show on front-page:
          <input
            type="number"
            class="globalSettingsField"
            name="globalLatestPosts"
            id="fieldGlobalLatestPosts">
        </label>
        <label>
          How many posts show on latests posts:
          <input
            type="number"
            class="globalSettingsField"
            name="latestPostsAmount"
            id="fieldLatestPostsAmount">
        </label>
        <label>
          Amount of latest images to show on front-page:
          <input
            type="number"
            class="globalSettingsField"
            name="globalLatestImages"
            id="fieldGlobalLatestImages">
        </label>
        <label>
          Amount of threads on the multi-board:
          <input
            type="number"
            class="globalSettingsField"
            name="multiboardThreadCount"
            id="fieldMultiBoardThreadCount">
        </label>
        <label>
          Number of preview posts:
          <input
            type="number"
            class="globalSettingsField"
            name="latestPostCount"
            id="fieldLatestPostsCount">
        </label>
        <label>
          Number of preview posts on pinned threads:
          <input
            type="number"
            class="globalSettingsField"
            name="latestPostPinned"
            id="fieldLatestPostPinned">
        </label>
        <label>
          Maximum amount of threads per board:
          <input
            type="number"
            class="globalSettingsField"
            name="maxThreadCount"
            id="fieldThreadLimit">
        </label>
        <label>
          Boards page size:
          <input
            type="number"
            class="globalSettingsField"
            name="pageSize"
            id="fieldPageSize">
        </label>
        <label>
          Amount of boards to be picked as top boards:
          <input
            type="number"
            class="globalSettingsField"
            name="topBoardsCount"
            id="fieldTopBoardsCount">
        </label>
        <label>
          Maximum amount of boards per page on boards list:
          <input
            type="number"
            class="globalSettingsField"
            name="boardsPerPage"
            id="fieldBoardsPerPage">
        </label>
        <label>
          Amount of threads on the overboard:
          <input
            type="number"
            class="globalSettingsField"
            name="overBoardThreadCount"
            id="fieldOverBoardThreads">
        </label>
        <label>
          Size of media management pages:
          <input
            type="number"
            class="globalSettingsField"
            name="mediaPageSize"
            id="fieldMediaPageSize">
        </label>

        <hr>
        <p class="title">Board limits</p>
        <label>
          Maximum size for flags (KB):
          <input
            type="number"
            class="globalSettingsField"
            name="maxFlagSizeKB"
            id="fieldMaxFlagSize">
        </label>
        <label>
          Maximum board message size:
          <input
            type="number"
            class="globalSettingsField"
            name="boardMessageLength"
            id="fieldBoardMessageLength">
        </label>
        <label>
          Maximum number of board hash bans:
          <input
            type="number"
            class="globalSettingsField"
            name="maxBoardHashBans"
            id="fieldMaxBoardHashBans">
        </label>
        <label>
          Maximum number of board range and ASN bans (they are counted
          separately):
          <input
            type="number"
            class="globalSettingsField"
            name="maxBoardGeneralBans"
            id="fieldMaxBoardGeneralBans">
        </label>
        <label>
          Maximum number of rules in boards:
          <input
            type="number"
            class="globalSettingsField"
            name="maxBoardRules"
            id="fieldMaxRules">
        </label>
        <label>
          Maximum number of filters in boards:
          <input
            type="number"
            class="globalSettingsField"
            name="maxFilters"
            id="fieldMaxFilters">
        </label>
        <label>
          Maximum filter length:
          <input
            type="number"
            class="globalSettingsField"
            name="maxFilterLength"
            id="fieldMaxFilterLength">
        </label>
        <label>
          Maximum number of banners in boards:
          <input
            type="number"
            class="globalSettingsField"
            name="maxBoardBanners"
            id="fieldMaxBoardBanners">
        </label>
        <label>
          Maximum number of tags per board:
          <input
            type="number"
            class="globalSettingsField"
            name="maxBoardTags"
            id="fieldMaxTags">
        </label>
        <label>
          Maximum number of volunteers in boards:
          <input
            type="number"
            class="globalSettingsField"
            name="maxBoardVolunteers"
            id="fieldMaxVolunteers">
        </label>
        <label>
          Maximum size for banners (KB):
          <input
            type="number"
            class="globalSettingsField"
            name="maxBannerSizeKB"
            id="fieldMaxBannerSize">
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            name="omitUnindexedContent"
            id="checkboxOmitUnindexedContent">
          Omit content from unindexed boards from front-page or overboards
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            name="allowVolunteerSettings"
            id="checkboxVolunteerSettings">
          Allow board volunteers to change board settings
        </label>
        <hr>

        <p class="title">Variables</p>
        <label>
          Amount of days before removing IPs from posts (any value below 1 or
          null means to never remove):
          <input
            type="number"
            class="globalSettingsField"
            name="ipExpirationDays"
            id="fieldIpExpiration">
        </label>
        <label>
          Number of replies before a thread enters auto-sage:
          <input
            type="number"
            class="globalSettingsField"
            name="autoSageLimit"
            id="fieldAutoSageLimit">
        </label>
        <label>
          Amount of replies required to automatically archive threads:
          <input
            type="number"
            class="globalSettingsField"
            name="archiveThreshold"
            id="fieldArchiveThreshold">
        </label>
        <label>
          Maximum size for custom flag names:
          <input
            type="number"
            class="globalSettingsField"
            name=flagNameLength
            id="fieldFlagNameLength">
        </label>
        <label>
          Mark accounts after this many days of inactivity:
          <input
            type="number"
            class="globalSettingsField"
            name="inactivityThreshold"
            id="fieldInactivityThreshold">
        </label>
        <label>
          Maximum dimension for thumbnails, for both height and width:
          <input
            type="number"
            class="globalSettingsField"
            name="thumbSize"
            id="fieldThumbSize">
        </label>
        <label>
          Sender address for automated e-mails:
          <input
            type="email"
            class="globalSettingsField"
            name="emailSender"
            id="fieldSenderEmail">
        </label>
        <label>
          Amount of minutes before a captcha expires:
          <input
            type="number"
            class="globalSettingsField"
            name="captchaExpiration"
            id="fieldCaptchaExpiration">
        </label>
        <label>
          Site title:
          <input
            type="text"
            class="globalSettingsField"
            name="siteTitle"
            id="fieldSiteTitle">
        </label>
        <label>
          Default ban message to be displayed on banned posts:
          <input
            type="text"
            class="globalSettingsField"
            name="defaultBanMessage"
            id="fieldBanMessage">
        </label>
        <label>
          RSS link domain:
          <input
            type="text"
            class="globalSettingsField"
            name="rssDomain"
            id="fieldRssDomain">
        </label>
        <label>
          Overboard uri:
          <input
            type="text"
            class="globalSettingsField"
            name="overboard"
            id="fieldOverboard">
        </label>
        <label>
          SFW overboard uri:
          <input
            type="text"
            class="globalSettingsField"
            name="sfwOverboard"
            id="fieldSfwOverboard">
        </label>

        <hr>
        <p class="title">Misc</p>
        <label>
          Addons<sup>1</sup>,<sup>2</sup>(They will be loaded in the order they
          appear in this list):
          <input
            type="text"
            class="globalSettingsField"
            name="addons"
            id="fieldAddons">
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxVerbose"
            name="verbose">
          Full verbose mode
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxVerboseApis"
            name="verboseApis">
          Verbose APIs mode
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxVerboseCache"
            name="verboseCache">
          Verbose cache mode
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxVerboseGridfs"
            name="verboseGridfs">
          Verbose gridfs mode
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxVerboseQueue"
            name="verboseQueue">
          Verbose message queue mode
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxVerboseMisc"
            name="verboseMisc">
          Verbose miscellaneous mode
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxVerboseGenerator"
            name="verboseGenerator">
          Verbose generator mode
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxUseAlternativeLanguages"
            name="useAlternativeLanguages">
          Use alternative languages
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxRedactModNames"
            name="redactModNames">
          Redact mod names
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxBlockedReport"
            name="allowBlockedToReport">
          Allow blocked or banned users to report
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxFfmpegGifs"
            name="ffmpegGifs">
          Use ffmpeg to generate animated gif thumbnails (requires ffmpeg
          installed)
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxGlobalBoardModeration"
            name="allowGlobalBoardModeration">
          Allow global staff to moderate boards
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxGlobalBanners"
            name="useGlobalBanners">
          Make boards use global banners
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxAllowCustomJs"
            name="allowBoardCustomJs">
          Allow board custom javascript
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxMediaThumb"
            name="mediaThumb">
          Generate thumbnails from media files (requires ffmpeg installed)
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxFrontPageStats"
            name="frontPageStats">
          Display total post count and total unique IPs on front-page
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxMaintenance"
            name="maintenance">
          Maintenance mode (Disables input to the server and lets users know it
          is under maintenance)
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxDisableAccountCreation"
            name="disableAccountCreation">
          Disable account creation
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxSFWLatestImages"
            name="onlySfwLatestImages">
          Display only SFW images on the front-page
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxDisableLatestPostings"
            name="disableLatestPostings">
          Disable latest postings
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxBoardStaffArchiving"
            name="allowBoardStaffArchiving">
          Allow board staff to archive threads
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxUnboundBoardLimits"
            name="unboundBoardLimits">
          Unbound board limits, allowing configurations globally disallowed
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxValidateMimes"
            name="validateMimes">
          Validate MIME types using 'file', fall back to the informed MIME if
          none is found
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxStripExif"
            name="stripExif">
          Strip exif data from files
        </label>
        <label>
          <input
            type="checkbox"
            class="globalSettingsField"
            id="checkboxMultipleReports"
            name="multipleReports">
          Allow multiple reports at once
        </label>
        <label>
          Minimum global role for users to be able to see posters' clear IPs:
          <select
            id="comboMinClearIpRole"
            name="clearIpMinRole">
          </select>
        </label>
        <label>
          Pruning mode:
          <select
            id="comboPruningMode"
            name="pruningMode"></select>
        </label>
        <label>
          Minimum global role required for board creation:
          <select
            id="comboBoardCreationRequirement"
            name="boardCreationRequirement">
          </select>
        </label>
        <button
          type="submit"
          id="saveFormButton">Save</button>

      </form>
      <br>
      <p>
        <sup>1</sup>: Separate values by commas, spaces will be ignored (a,b,c)
      </p>
      <p>
        <sup>2</sup>: Requires server restart
      </p>
      <p>
        Those settings are all explained
        <a href="https://gitgud.io/LynxChan/LynxChan/tree/master/src/be">here</a>
      </p>
    </fieldset>
  </div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/globalSettings.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
