<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/index.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"></a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard"></a> <span>/</span> <a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"></a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <div id="indexWrapper">

    <div
      id="logoBox"
      class="title">
      <img
        src="/.static/logo.png"
        class="logoImg"
        alt="logo" />
    </div>

    <div
      id="infoBox"
      class="title">
      <p>Insert title here</p>
    </div>

    <div
      id="divBoards"
      class="topBoards title"></div>

    <div id="divLatestImages"></div>

    <div id="divLatestPosts"></div>

    <div
      id="links"
      class="title">
      <span>[</span>
      <a
        href="/logs.js"
        class="coloredIcon"
        id="linkGlobalLogs"></a>
      <span>/</span>
      <a
        href="/archives.js"
        class="coloredIcon"
        id="linkArchives"></a>
      <span>/</span>
      <a
        href="/graphs.js"
        class="coloredIcon"
        id="linkGraphs"></a>
      <span>/</span>
      <a
        href="/.static/pages/globalRules.html"
        class="coloredIcon"
        id="linkGlobalRules"></a>
      <span>/</span>
      <a
        href="/.static/pages/links.html"
        class="coloredIcon"
        id="linkLinks"></a>
      <span>/</span>
      <a
        href="/.static/pages/about.html"
        class="coloredIcon"
        id="linkAbout"></a>
      <span>/</span>
      <a
        href="/.static/pages/contact.html"
        class="coloredIcon"
        id="linkContact"></a>
      <span>/</span>
      <a
        href="/account.js"
        class="coloredIcon"
        id="linkAccount"></a>
      <span>/</span>
      <a
        class="coloredIcon"
        id="linkEngine"></a>
      <span>]</span>
    </div>

    <div id="divStats">
      <span>[</span> <span>Total posts: <span id="labelTotalPosts"></span></span>
      <span>/</span> <span>Posts in last hour: <span id="labelTotalPPH"></span></span>
      <span>/</span> <span>Unique recent IPs: <span id="labelTotalIps"></span></span>
      <span>/</span> <span>Total boards: <span id="labelTotalBoards"></span></span>
      <span>/</span> <span>Media files stored: <span id="labelTotalFiles"></span></span>
      <span>/</span> <span>Total media size: <span id="labelTotalSize"></span></span>
      <span>]</span>
    </div>

  </div>

  <footer>
    <span>Insert footer here</span>
  </footer>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
