<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Media details</legend>

      <p>
        Identifier: <span id="labelIdentifier"></span>
      </p>

      <p>
        Size: <span id="labelSize"></span>
      </p>

      <p>
        First uploaded at: <span id="labelUploadDate"></span>
      </p>

      <h3>References</h3>
      <div id="panelReferences"></div>

    </fieldset>

  </div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
