<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Offense record</legend>

      <form
        action="/offenseRecord.js"
        method="GET">

        <label>
          Ip:
          <input
            id="ipField"
            name="ip"
            type="text">
        </label>

        <input
          type="hidden"
          name="boardUri"
          id="boardIdentifier">
        <input
          type="hidden"
          name="threadId"
          id="threadIdentifier">
        <input
          type="hidden"
          name="postId"
          id="postIdentifier">

        <button type="submit">Search</button>
      </form>

      <div id="offensesDiv"></div>

    </fieldset>

  </div>

</body>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
