<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/thread.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/threadPage.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/boardContent.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/settingsMenu.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/sideCatalog.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome"></a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"></a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard"></a> <span>/</span> <a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"></a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span>[</span>
      <a
        href=".."
        id="linkBack"
        class="coloredIcon"></a> <span>/</span> <a
        href="#bannerImage"
        id="linkTop"
        class="coloredIcon"></a> <span>/</span> <a
        href="#footer"
        id="linkBottom"
        class="coloredIcon"></a> <span>/</span> <a
        href="../catalog.html"
        id="navCatalog"
        class="coloredIcon"></a> <span>]</span>
    </span>
  </nav>

  <div
    class="hidden"
    id="sideCatalogDiv">

    <div id="sideCatalogHeader">

      <button
        id="sideCatalogRefreshButton"
        class="catalogLabel"
        onclick="sideCatalog.refreshSideCatalog()">Refresh</button>
      <span
        id="closeSideCatalogButton"
        class="coloredIcon glowOnHover"></span>
    </div>

    <div id="sideCatalogBody"></div>

  </div>

  <div id="mainPanel">

    <header class="boardHeader">
      <img id="bannerImage" />
      <div>
        <p id="labelName"></p>
      </div>
      <p id="labelDescription"></p>
    </header>

    <div id="postingForm">

      <fieldset id="newPostFieldset">
        <legend>Mode: Reply</legend>

        <form
          action="/replyThread.js"
          enctype="multipart/form-data"
          method="post">

          <input
            type="hidden"
            name="threadId"
            id="threadIdentifier">

          <table id="postingTable">
          </table>

          <p class="small">
            Remember to follow the
            <a
              href="../rules.html"
              class="rules">rules</a>
          </p>

          <button
            type="submit"
            id="formButton">Reply</button>

        </form>

      </fieldset>

    </div>

    <div id="divControls">

      <form
        action="/changeThreadSettings.js"
        method="post"
        enctype="multipart/form-data">

        <fieldset id="settingsFieldset">
          <legend>Thread Settings</legend>

          <label>
            <input
              name="lock"
              class="threadSettingsField"
              id="checkboxLock"
              type="checkbox">
            Lock
          </label>
          <label>
            <input
              class="threadSettingsField"
              name="pin"
              id="checkboxPin"
              type="checkbox">
            Pin
          </label>
          <label>
            <input
              type="checkbox"
              class="threadSettingsField"
              name="cyclic"
              id="checkboxCyclic">
            Cyclic
          </label>

          <input
            type="hidden"
            name="boardUri"
            id="controlBoardIdentifier">
          <input
            type="hidden"
            name="threadId"
            id="controlThreadIdentifier">
          <button
            type="submit"
            id="settingsFormButon">Save</button>

        </fieldset>
      </form>

    </div>
    <div id="divArchive">

      <form
        action="/archiveThread.js"
        method="post"
        enctype="multipart/form-data">

        <fieldset id="settingsFieldset">
          <legend>Archive Thread</legend>

          <label>
            <input
              name="confirmation"
              class="archiveField"
              id="checkboxArchive"
              type="checkbox">
            Yes, I wish to lock and archive this thread
          </label>

          <input
            type="hidden"
            name="boardUri"
            id="archiveBoardIdentifier">
          <input
            type="hidden"
            name="threadId"
            id="archiveThreadIdentifier">
          <button
            type="submit"
            id="archiveFormButon">Archive</button>

        </fieldset>
      </form>

    </div>

    <div id="transferControls">

      <form
        action="/transferThread.js"
        enctype="multipart/form-data"
        method="post"
        id="formTransfer"
        class="formTransfer">

        <fieldset id="settingsFieldset">
          <legend>Transfer Thread</legend>

          <input
            type="hidden"
            name="boardUri"
            id="transferBoardIdentifier">

          <input
            type="hidden"
            name="threadId"
            id="transferThreadIdentifier">

          <label>
            Destination board:
            <input
              type="text"
              class="transferField"
              id="fieldDestinationBoard"
              name="boardUriDestination">
          </label>

          <button
            type="submit"
            id="transferFormButton">Transfer thread</button>

        </fieldset>
      </form>

    </div>

    <div id="divMerge">

      <form
        action="/mergeThread.js"
        enctype="multipart/form-data"
        method="post"
        id="formMerge"
        class="formMerge">

        <fieldset id="settingsFieldset">
          <legend>Merge Thread</legend>

          <input
            type="hidden"
            name="boardUri"
            id="mergeBoardIdentifier">

          <input
            type="hidden"
            name="threadSource"
            id="mergeThreadIdentifier">

          <label>
            Destination thread:
            <input
              type="text"
              class="mergeField"
              id="fieldDestinationThread"
              name="threadDestination">
          </label>

          <button
            type="submit"
            id="mergeFormButton">Merge thread</button>

        </fieldset>
      </form>

    </div>

    <div id="ipDelete">

      <form
        id="ipDeletionForm"
        method="post"
        action="/deleteFromIp.js"
        enctype="multipart/form-data">

        <fieldset id="settingsFieldset">
          <legend>Delete from IP</legend>

          <label>
            Non-hashed ip:
            <input
              type="text"
              class="ipDeletionField"
              name="ip"
              id="ipField">
          </label>
          <label>
            Delete only from these boards(Ex:"b v", leaving blank will delete
            from all boards)
            <input
              type="text"
              class="ipDeletionField"
              name="boards"
              id="fieldBoards">
          </label>

          <button
            type="submit"
            id="deleteFromIpFormButton">Delete from IP</button>
        </fieldset>
      </form>

    </div>

    <div id="panelMessage">
      <hr>
      <div id="divMessage"></div>
    </div>

    <div id="threadList">

      <form
        method="post"
        action="/contentActions.js"
        enctype="multipart/form-data">

        <div id="divThreads"></div>

        <hr class="clearer" />

        <div class="divRefresh hidden">

          <input
            type="button"
            id="refreshButton"
            onclick="thread.refreshPosts(true)"
            value="Refresh">

          <label>
            <input
              id="checkboxChangeRefresh"
              type="checkbox"
              checked
              onchange="thread.changeRefresh()">
            Auto <span id="labelRefresh"></span>
          </label>

        </div>

        <div id=boardContentLinks>
          <span>[</span>
          <a id="linkManagement">Manage Board</a>
          <span>/</span>
          <a id="linkMod">Moderate Thread</a>
          <span>]</span>
        </div>

        <div id="actionsForm"></div>

      </form>

    </div>

    <footer id="footer"></footer>
  </div>

</body>

<script src="/.static/js/crypto.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/postCommon.js"></script>
<script src="/.static/js/captchaModal.js"></script>
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/tooltips.js"></script>
<script src="/.static/js/posting.js"></script>
<script src="/.static/js/thread.js"></script>
<script src="/.static/js/captchaUtils.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/qr.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/hiding.js"></script>
<script src="/.static/js/mediaHiding.js"></script>
<script src="/.static/js/embed.js"></script>
<script src="/.static/js/postingMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/gallery.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/sideCatalog.js"></script>
<script src="/.static/js/bottomForms.js"></script>

</html>
