/*Used only on catalog*/
.linkThumb {
  font-size: 80%;
}

#catalogId {
  text-align: center;
  margin: 1.5em 0 1em 0;
  font-size: 150%;
}

.catalogCell {
  display: inline-block;
  width: 12em;
  text-align: center;
  padding: 0.25em;
  height: 14em;
  overflow: hidden;
  overflow-y: auto;
  margin: 0.1em;
}

.catalogLabel {
  font-size: 80%;
}

.catalogCell .divMessage {
  margin: 0;
  font-size: 75%;
}

#divTools {
  text-align: left;
  margin-left: 15px;
}

.catalogCell .labelSubject {
  font-size: 75%;
}

.linkThumb img {
  max-height: 128px;
  max-width: 128px;
}

.catalogDiv {
  width: 95%;
  margin: 1em auto;
  text-align: center;
}

.threadStats {
  font-size: 75%;
}

@media only screen and (max-width: 812px) {
  .linkThumb img {
    max-height: 100%;
    max-width: 100%;
  }
  #catalogId {
    margin: 3em 0 2em 0;
  }
  .catalogCell {
    width: 7em;
  }
}