.topBoards a, #divLatestImages img, #divLatestPosts .latestPostCell,
  .innerPost, .sideCatalogCell, .markedPost, .sideCatalogMarkedCell,
  .catalogCell {
  background: #282A2E;
  border-radius: 5px;
}

.theme_clear .topBoards a, .theme_clear #divLatestImages img,
  .theme_clear #divLatestPosts .latestPostCell, .theme_clear .innerPost,
  .theme_clear .sideCatalogCell, .theme_clear .markedPost, .theme_clear .sideCatalogMarkedCell,
  .theme_clear .catalogCell {
  background-color: #dddddd
}

.floatingMenu, #quick-reply table {
  background: #1d1f21;
}

.theme_clear .floatingMenu, .theme_clear #quick-reply table {
  background: #cccccc;
}

.markedPost, .sideCatalogMarkedCell {
  background: rgba(59, 22, 43, 0.4);
}

.theme_clear .markedPost, .theme_clear .sideCatalogMarkedCell {
  background: #868686;
}

#divLatestPosts .latestPostCell, .innerPost, .sideCatalogCell,
  .markedPost, .sideCatalogMarkedCell, .catalogCell {
  border: 1px solid #117743;
}

#newPostFieldset, #quick-reply table, .modalDecorationPanel,
  .floatingMenu, #settingsFieldset, .reportFieldset {
  border: 1px dashed #117743;
}

.logoImg {
  height: 250px;
  min-width: 1px;
}

.captchaImage {
  width: 300px;
  height: 100px;
  background-color: white;
}

.small {
  font-size: 75%;
  text-decoration: none;
}

.clearer {
  clear: both;
}

.small a {
  text-decoration: none;
}

#panelReferences a {
  display: block;
}

.imgLink img, .latestImageCell img, .mediaCell img, .catalogCell img {
  image-orientation: from-image;
}

.linkList a {
  display: block;
}

#themeSelector {
  font-size: 100%;
}

h3, p, label {
  margin: 0.25em 0;
}

hr {
  height: 0px;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: #117743;
}

a, .coloredIcon, .unhideButton, .embedButton, .checkedFavouriteButton:before,
  #selectedTab, #showFormsButton {
  color: #FFB300;
  cursor: pointer
}

.theme_clear a, .theme_clear .coloredIcon, .theme_clear .unhideButton,
  .theme_clear .embedButton, .theme_clear .checkedFavouriteButton:before,
  .theme_clear #selectedTab, .theme_clear #showFormsButton {
  color: #000
}

.coloredIcon::before {
  font-family: 'Icons';
}

#navLinkSpan .coloredIcon:before, #navOptionsSpan .coloredIcon:before,
  #links .coloredIcon:before {
  margin-right: 0.25em;
}

a {
  text-decoration: none;
}

a:hover, .glowOnHover:hover {
  text-shadow: 0px 0px 5px #117743;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input, select, textarea {
  border: 1px double #07371F;
  border-radius: 5px;
  background: #282A2E;
  color: #ACACAC;
  font-family: 'Hack', monospace, sans-serif;
  font-size: 80%;
}

.theme_clear input, .theme_clear select, .theme_clear textarea {
  background: #dddddd;
  color: #000;
}

input[type=button], input[type=submit], button, .dropzone, .selectedCell
  {
  border: 3px double #07371F;
  border-radius: 5px;
  background: #16171A;
  color: #ACACAC;
  padding-left: 0.25em;
  font-family: 'Hack', monospace, sans-serif;
  font-size: 80%;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.theme_clear input[type=button], .theme_clear input[type=submit],
  .theme_clear button, .theme_clear .dropzone, .theme_clear .selectedCell
  {
  background: #a7a7a7;
  color: #000;
}

.title, .unhideButton {
  font-weight: bold;
}

.fileBrowser {
  background: none;
}

/* import resources here; external CSS, fonts, etc */
@font-face {
  font-family: 'Hack';
  src: url('../hack-regular-webfont.eot?v=2.018');
  src: url('../hack-regular-webfont.eot?#iefix&v=2.018')
    format('embedded-opentype'),
    url('../hack-regular-webfont.woff2?v=2.018') format('woff2'),
    url('../hack-regular-webfont.woff?v=2.018') format('woff'),
    url('../hack-regular-webfont.ttf?v=2.018') format('truetype'),
    url('../hack-regular-webfont.svg?v=2.018#hackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icons';
  src: url('../open-iconic.eot');
  src: url('../open-iconic.eot?#iconic-sm') format('embedded-opentype'),
    url('../open-iconic.woff') format('woff'), url('../open-iconic.ttf')
    format('truetype'), url('../open-iconic.otf') format('opentype'),
    url('../open-iconic.svg#iconic-sm') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* body styles, inherited by whole page */
body {
  color: #ACACAC;
  background: #1D1F21;
  font-family: 'Hack', monospace, sans-serif;
  font-size: 100%;
  margin: 0px;
}

body.theme_clear {
  background-color: #cccccc;
  color: #000
}

/* header and nav / top of page styles */
header {
  margin: 3em auto 0 auto;
  text-align: center;
}

nav {
  height: 18px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #151515;
  border-bottom: 1px solid #B0790A;
  padding-bottom: 3px;
  font-size: 70%;
  text-align: center;
  z-index: 1;
}

.theme_clear nav {
  background-color: #acacac
}

nav span, nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 0.2em;
}

#navLinkSpan {
  float: left;
}

#navOptionsSpan {
  float: right;
}

#navLinkHome:before {
  content: "\e078";
}

#navBoardList:before {
  content: "\e09b";
}

#linkOverboard:before, #navOverboard:before {
  content: "\e007";
}

#settingsButton:before {
  content: "\e041";
}

#navPosting:before {
  content: "\e09a";
}

#navCatalog:before {
  content: "\e072";
}

#linkRss:before {
  content: "\e0b7";
}

#linkTop:before {
  content: "\e012";
}

#linkBottom:before {
  content: "\e00f";
}

#linkBack:before {
  content: "\e003";
}

/* board list */
#divPages {
  display: inline-block;
}

#divPages a {
  text-decoration: none;
  padding: 0 0.25em;
  display: inline-block;
}

a.rules:after {
  font-family: Icons;
  content: "\e052";
  margin-right: 0.5em;
  color: #117743;
  height: 80%;
  font-size: 80%;
  padding-left: 0.25em;
  vertical-align: middle;
}

/* markdown */
.greenText {
  color: #789922;
}

.redText {
  color: #AF0A0F;
  font-weight: bold;
  font-size: 125%;
}

span.spoiler {
  background: #000;
  color: #000;
  padding: 0 1px;
}

.spoiler:hover {
  color: #ACACAC;
  background: none;
}

.red {
  color: #117743;
}

/* CSS for pages that deal with site and account settings and bans */
#settingsWrapper {
  text-align: center;
  width: 80%;
  margin: 2em auto;
}

#settingsFieldset {
  padding: 1em;
  display: inline-block;
  text-align: left;
}

.banners {
  margin: 1em;
  width: auto;
  padding: 0.5em;
}

#settingsFieldset textarea {
  display: block;
  height: 5em;
}

#settingsFieldset label {
  display: block;
}

#settingsFieldset label input {
  display: inline-block;
}

#settingsWrapper .captchaDiv input {
  display: inline-block;
}

.subCaptchaDiv {
  text-align: left;
}

.captchaTimer {
  font-size: 80%;
}

.wide, #postingForm input[type='text'], .modalTableBody input[type='text'],
  .modalTableBody select {
  width: 100%;
}

#redirect, #maint {
  text-align: center;
}

#labelCaptchaId {
  color: #ff0000;
}

#staticPageWrapper {
  margin: 2em auto;
  text-align: center;
}

/* footer styles */
footer {
  width: 100%;
  margin: 3em 0px 2em 0px;
  text-align: center;
  font-size: 75%;
}

.innerPost, .markedPost {
  display: inline-block;
  padding: 0.25em;
  max-width: 100%;
}

/* this has to go down here to override anything above it */
.hidden {
  display: none;
}

#settingsWrapper input.hidden {
  display: none;
}

.floatingMenu {
  padding: 0.25em;
}

.floatingMenu .headerLabel {
  font-size: 80%;
}

.floatingMenu .header, .floatingMenu .headerLabel {
  cursor: pointer;
}

#divRemember input {
  display: inline;
}

#ownedDiv a, #volunteeredDiv a {
  display: block;
}

#navBoardList::after {
  content: 'boards';
}

#navOverboard::after, #linkOverboard::after {
  content: 'overboard';
}

#linkSfwOver::after {
  content: 'overboard sfw';
}

#navPosting::after {
  content: 'help';
}

#navLinkHome::after {
  content: 'home';
}

#watcherButton::after {
  content: 'watched threads';
}

#settingsButton::after {
  content: 'settings';
}

#linkGlobalLogs::after {
  content: 'logs';
}

#linkArchives::after {
  content: 'archives';
}

#linkGraphs::after {
  content: 'daily graphs';
}

#linkGlobalRules::after {
  content: 'global rules';
}

#linkLinks::after {
  content: 'links';
}

#linkAbout::after {
  content: 'about';
}

#navOptionsSpan a{
  margin-top: 2px;
}

#linkContact::after {
  content: 'contact';
}

#linkAccount::after {
  content: 'account';
}

@media only screen and (max-width: 812px) {
  #navLinkSpan span, #navOptionsSpan span, legend, #settingsButton, #links span,
    .hideMobile {
    display: none;
  }
  #navLinkSpan a::after, #navOptionsSpan a::after, #links a::after {
    content: '';
  }
  nav {
    font-size: 115%;
    height: auto;
    padding: 2px 2px;
  }
  #themeSelector {
    max-width: 100px;
  }
  .logoImg {
    margin-top: 10px;
    height: 75px;
  }
  input, select, textarea {
    font-size: 100%;
  }
  body {
    font-size: 85%;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .captchaImage {
    max-width: 100%;
    height: auto;
    max-height: 100px;
  }
}