/*Elements exclusive to the front-page*/
#indexWrapper {
  width: 80%;
  margin: 2em auto;
}

#logoBox {
  width: 100%;
  margin: 0 auto 1em auto;
  text-align: center;
}

#infoBox {
  text-align: center;
  width: 100%;
  padding: 0.5em;
  margin: 1em auto 2em;
  font-size: 120%;
}

#links, #divStats {
  padding: 0.5em;
  font-size: 75%;
  text-align: center;
}

#links a {
  text-decoration: none;
}

#linkGlobalLogs:before {
  content: "\e069";
}

#linkArchives:before {
  content: "\e021";
}

#linkGraphs:before {
  content: "\e018";
}

#linkAccount:before {
  content: "\e081";
}

#linkGlobalRules:before {
  content: "\e06f";
}

#linkAbout:before {
  content: "\e0b0";
}

#linkEngine:before {
  content: "\e064";
}

#linkLinks:before {
  content: "\e086";
}

#linkContact:before {
  content: "\e05c";
}

.topBoards {
  width: 100%;
  text-align: center;
  margin: 1em 0px;
}

.topBoards a {
  padding: 0.25em 0.5em;
  text-decoration: none;
  margin: 0.5em 0.25em;
  display: inline-block;
  font-size: 90%;
}

#divLatestPosts {
  width: 100%;
  margin: 1em;
  text-align: center;
}

#divLatestPosts .latestPostCell {
  display: inline-block;
  overflow: hidden;
  padding: 0.5em;
  margin: 0.5em;
  max-width: 15%;
  max-height: 8em;
  font-size: 75%;
  vertical-align: middle;
}

.latestPostCell a {
  display: block;
}

#divLatestImages {
  margin: 0 auto;
  text-align: center;
}

#divLatestImages .latestImageCell {
  display: inline-block;
  max-width: 15%;
  margin: 0 0.5em;
  vertical-align: middle;
}

#divLatestImages img {
  max-width: 125px;
  max-height: 125px;
  padding: 5px;
}

@media only screen and (max-width: 812px) {
  .topBoards, #divLatestPosts {
    margin: 0;
  }
  #indexWrapper {
    width: 99%;
  }
  #links a, #divStats {
    font-size: 153%;
  }
  #linkEngine {
    display: none;
  }
}