/*Elements that show on threads on both catalogs and regular posting places*/

.lockIndicator:before, .pinIndicator:after, .archiveIndicator:after, .cyclicIndicator:after, .bumpLockIndicator:after { 
  font-family: Icons;
  color: #A00;
}

.lockIndicator:before {
  content: "\e08a";
}

#galleryLink:before {
  content: "\e083";
}

.pinIndicator:after {
  content: "\e0a8";
}

.archiveIndicator:after {
  content: "\e023";
}

.cyclicIndicator:after {
  content: "\e08c";
}

.bumpLockIndicator:after {
  content: "\e0db";
}

.galleryImage {
  max-width: 100vw;
  max-height: 100vh;
}

.contentAction label, .contentAction img {
  display: block;
}

#selectedDiv, #selectedDivQr {
  max-height: 200px;
  display: inline-block;
  overflow-y: auto;
}